---
import Layout from "@/layouts/Layout.astro";
import FadeInDiv from "@/components/FadeInDiv.tsx";
---

<Layout transition:animate="slide">
  <FadeInDiv client:load>
    <div class="min-h-screen bg-mobai-background text-mobai-foreground flex items-center justify-center py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full text-center">
      <p style="font-size: 100px;font-weight: bold;" class="font-extrabold text-white tracking-wider">404</h1>
      <p class="text-2xl font-semibold text-gray-300 mb-4">页面未找到</p>
      <p class="text-lg text-gray-400 mb-8">
        抱歉，您访问的页面不存在，或者已被移动。
      </p>
      <div class="flex justify-center space-x-4">
        <a
          href="/"
          class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-black bg-white hover:bg-gray-100 transition-colors duration-300"
        >
          返回首页
        </a>
        <p>&nbsp;&nbsp;&nbsp;</p>
        <a
          onclick="history.back()"
          class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 transition-colors duration-300"
        >
          返回上一页
        </a>
      </div>
    </div>
  </div>
  </FadeInDiv>
</Layout>