---
import Hero from "@/components/Hero";
import Layout from "@/layouts/Layout.astro";
import Desktop from "@/components/Desktop";
import Personalization from "@/components/Personalization";
import Compatibility from "@/components/Compatibility";
import Test from "@/components/Test";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Hero />
  <div class="max-w-8xl mx-auto flex flex-col gap-16 py-16">
    <div
      class="ease-mobai-bounce flex flex-col gap-16 px-8 transition-all duration-500 md:px-12 lg:px-16 xl:px-24"
    >
      <Desktop />
      <div class="flex flex-col gap-12">
        <Personalization />
        <Compatibility client:load />
      </div>
    </div>
    <div class="px-8 md:px-12 lg:px-16 xl:px-24">
      <Test />
    </div>
  </div>
</Layout>
