@import "tailwindcss";

@theme {
  --color-mobai-background: #11121c;
  --color-mobai-foreground: #ffffff;

  --ease-mobai-bounce: cubic-bezier(0.84, 0, 0.165, 1);
  --ease-mobai-standard: cubic-bezier(0.4, 0, 0.2, 1);

  --container-8xl: 96rem;
}

body {
  background-color: var(--color-mobai-background);
  color: var(--color-mobai-foreground);
}
